.some-facts {
    margin: 0 auto;
    max-width: 1500px;
}

.some-facts .container {
    margin-top: 130px;
}

.some-facts .details {
    max-width: 768px;
}

.some-facts .details-title {
    color: #131313;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}

.some-facts .details-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.sf-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 124px;
    margin-top: 60px;
}

.sf-items-container .item {
    width: 180px;
    border: 1px solid #42b40e;
    border-radius: 8px;
    padding: 46px 30px 60px 30px;
    text-align: center;
}

.sf-items-container .item:hover svg {
    fill: #fff;
}

.sf-items-container .item,
.sf-items-container .item img,
.sf-items-container .item h2.count,
.sf-items-container .item h3.title {
    transition: all 0.25s ease-out;
}

.sf-items-container .item h2.count {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}

.sf-items-container .item h3.title {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* Some Facts Items Transition Styles */
.sf-items-container .item:hover {
    background-color: #42b40e;
    color: #ffffff;
}

.sf-items-container .item:hover img {
    transform: scale(1.3) translateY(-8px);
}

.sf-items-container .item:hover h2.count {
    color: #ffffff;
}

.sf-items-container .item:hover h3.title {
    color: #ffffff;
}
